@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
*{
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

nav{
    height: 10%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color:white;
    font-size: 24px;
}

nav a{
    padding:0 5px;
    text-decoration: none;
    color:white;
    justify-content: space-between;
}

form{
    padding:45px;
}

.inputele{
    width: 100%;
    height:70px;

}

input{
    width: 100%;
    height:70%;
    padding: 0 15px;
    font-size: 20px;
}

input::placeholder{
    color:black;
}

.t-btn{
    height:50px;
    width:250px;
    background-color: black;
    color: white;
    font-size: 30px;
}